<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.joinus.mappers.CustomerUserMapper">
    <insert id="insert" parameterType="com.ezen.joinus.vo.CustomerUserVO">
        INSERT INTO customers_table

        VALUES(customers_seq.nextval, #{u_id}, #{u_pwd}, #{u_name},#{u_email}, #{u_phone}, #{u_addresscode}, #{u_addressStreet}, #{u_addressDetail}, 100,'A', 100, 0, 0)
    </insert>
    <select id="u_idCheck" parameterType="String" resultType="int">
        select count(*) from customers_table where u_id=#{u_id}
    </select>
    <select id="CustomerLogin" resultType="com.ezen.joinus.vo.CustomerUserVO">
        select uno, u_id, u_name, u_pwd, u_email, u_phone, u_addresscode,u_addressStreet,u_addressDetail, buyPoint,auth,buyPoint, wish_cnt, cart_cnt from customers_table where u_id=#{u_id,jdbcType=VARCHAR}
    </select>
    <select id="getCustomerById" resultType="com.ezen.joinus.vo.CustomerUserVO">
        SELECT * FROM customers_table WHERE u_id =  #{u_id,jdbcType=VARCHAR}
    </select>
    <update id="modify" parameterType="com.ezen.joinus.vo.CustomerUserVO">
        update customers_table set u_pwd=#{u_pwd, jdbcType=VARCHAR},u_name=#{u_name, jdbcType=VARCHAR},u_email=#{u_email, jdbcType=VARCHAR},u_phone=#{u_phone, jdbcType=VARCHAR},u_addresscode=#{u_addresscode, jdbcType=VARCHAR},u_addressStreet=#{u_addressStreet, jdbcType=VARCHAR},u_addressDetail=#{u_addressDetail, jdbcType=VARCHAR} where u_id=#{u_id,jdbcType=VARCHAR}
    </update>
    <delete id="delete">
        delete from customers_table where u_id=#{u_id,jdbcType=VARCHAR}
    </delete>
    <update id="update" parameterType="java.util.Map">
        update customers_table set buypoint=#{buypoint, jdbcType=INTEGER} where u_id=#{u_id,jdbcType=VARCHAR}
    </update>

</mapper>