<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.joinus.mappers.ProductMapper">
    <!-- 총 게시글 갯수 출력 -->
    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM products_table
    </select>

    <!-- 페이징 처리 후 게시글 조회 -->
    <select id="selectBoard" resultType="com.ezen.joinus.vo.ProductVO">
        SELECT *
        FROM (
                 SELECT ROWNUM RN, A.*
                 FROM (
                          SELECT *
                          FROM products_table
                          ORDER BY pno DESC
                      ) A
             )
        WHERE RN BETWEEN #{start} AND #{end}
    </select>

    <!-- 등록 상품 조회 -->
    <select id="getListAll" resultType="com.ezen.joinus.vo.ProductVO">
        select * from products_table
    </select>

    <select id="getProduct" parameterType="java.lang.Integer" resultType="com.ezen.joinus.vo.ProductVO">
        select * from products_table
        where pno =#{pno}
    </select>

    <insert id="insertProduct" parameterType="com.ezen.joinus.vo.ProductVO">
        insert into products_table (sno, pno, p_name, p_inst, p_category, p_type, p_startDate, p_endDate, p_price)
        values(#{sno}, products_seq.nextval, #{p_name}, #{p_inst},  #{p_category}, #{p_type}, #{p_startDate}, #{p_endDate},  #{p_price})
    </insert>

    <update id="updateProduct" parameterType="com.ezen.joinus.vo.ProductVO">
        update products_table set p_name=#{p_name}, p_inst=#{p_inst}, p_category=#{p_category}, p_type=#{p_type},
                                  p_startDate = #{p_startDate}, p_endDate=#{p_endDate}, p_price=#{p_price}
        where pno = #{pno}
    </update>

    <delete id="deleteProduct" parameterType="java.lang.Integer">
        delete from products_table where pno = #{pno}
    </delete>

    <select id="getMaxPno" resultType="int">
        select max(pno) from products_table
    </select>

    <select id="selectCategory" resultType="com.ezen.joinus.vo.ProductVO">
        select * from products_table where p_category=#{p_category}
  </select>
    <select id="getProductName" parameterType="String" resultType="com.ezen.joinus.vo.ProductVO">
        SELECT *
        FROM products_table
        WHERE p_name LIKE '%' || #{p_name} || '%'
    </select>
    <select id="getProductSno" parameterType="java.lang.Integer" resultType="com.ezen.joinus.vo.ProductVO">
        select * from products_table where sno=#{sno}
    </select>
    <select id="selectProductListBySno" parameterType="int" resultType="com.ezen.joinus.vo.ProductVO">
        select * from products_table where sno = #{sno}
    </select>
<!--    카테고리별 제품 갯수-->
    <select id="countProduct" resultType="int">
        SELECT COUNT(*) FROM products_table where p_category=#{p_category}
    </select>

    <!-- 상품 문의 등록 -->
    <insert id="saveInquiry" parameterType="com.ezen.joinus.vo.InquiryVO">
        insert into products_inquiry (ino, pno,sno, u_id , p_name, u_name,i_title, u_inquiry, inquiry_date , status)
        values (inquiry_seq.nextval, #{pno},#{sno},#{u_id}, #{p_name}, #{u_name}, #{i_title}, #{u_inquiry}, #{inquiry_date},'답변 대기')
    </insert>

    <select id="allinquiries" resultType="com.ezen.joinus.vo.InquiryVO">
        select * from products_inquiry where pno=#{pno}
    </select>

    <select id="getInquiries" resultType="com.ezen.joinus.vo.InquiryVO">
        select * from products_inquiry
        where ino = #{ino}
    </select>

    <select id="userallinqu" resultType="com.ezen.joinus.vo.InquiryVO">
        select * from products_inquiry
        where u_id = #{u_id}
    </select>

    <update id="updateinqu" parameterType="com.ezen.joinus.vo.InquiryVO">
        update products_inquiry set i_title = #{i_title}, u_inquiry = #{u_inquiry} , inquiry_date= #{inquiry_date}
        where ino = #{ino}
    </update>
    <update id="updatestatus" parameterType="com.ezen.joinus.vo.InquiryVO">
        update products_inquiry set status = '답변 완료'
        where ino = #{ino}
    </update>
    <insert id="insertb_answer" parameterType="com.ezen.joinus.vo.B_answerVO">
        insert into b_inquiry (bno ,ino,sno, b_answer, b_id, pno, status,sys_date ) values (b_inquiry_seq.nextval, #{ino},#{sno},#{b_answer},#{b_id},#{pno},'답변 완료',#{sys_date})
    </insert>
    <select id="selectb_answer" resultType="com.ezen.joinus.vo.B_answerVO">
        select * from b_inquiry where ino=#{ino}
    </select>
    <select id="allstoreinqu" resultType="com.ezen.joinus.vo.InquiryVO">
        select * from products_inquiry
        where sno = #{sno}
    </select>
</mapper>