<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.joinus.mappers.PurchaseMapper">
    <insert id="insertProduct">
        INSERT INTO products_purchase_table (sno, u_id, pno, p_name, p_price, memo, buyTime, startDate, endDate)
        VALUES (#{sno}, #{u_id}, #{pno}, #{p_name}, #{p_price}, #{memo}, #{buyTime}, #{startDate}, #{endDate})
    </insert>
    <!-- 물건 구매 후 사용자 포인트 변경 -->
    <update id="updateUserPoint" parameterType="com.ezen.joinus.vo.CustomerUserVO">
        update customers_table
        set buyPoint = buypoint - #{paypoint},
            payPoint = paypoint + #{paypoint}
        where u_id = #{u_id}
    </update>
    <select id="selectUPurchaseUserId" resultType="com.ezen.joinus.vo.PurchaseVO" parameterType="string">
        select * from products_purchase_table where u_id = #{u_id}
    </select>

    <select id="getPurchaseInfoPname" resultType="com.ezen.joinus.vo.PurchaseVO">
        select DISTINCT p_name from products_purchase_table
        where sno = #{sno}
    </select>

    <select id="getPurchaseInfoSno" resultType="com.ezen.joinus.vo.PurchaseVO">
        select * from products_purchase_table
        where sno = #{sno}
    </select>

    <select id="getAllpurchase" resultType="com.ezen.joinus.vo.PurchaseVO">
        SELECT pno, p_name, COUNT(*) AS purchase_count
        FROM products_purchase_table
        GROUP BY pno, p_name
        ORDER BY purchase_count DESC
    </select>

    <delete id="deleteProduct">
        delete FROM products_purchase_table WHERE pno = #{pno}
    </delete>

    <update id="nowRefundPrice" parameterType="map">
        update customers_table set buyPoint=buypoint+#{p_price}, payPoint=paypoint-#{p_price} where u_id = #{u_id}
    </update>

    <insert id="refundProduct" parameterType="com.ezen.joinus.vo.RefundVO">
        INSERT INTO refund_table (u_id, pno, p_price)
        VALUES (#{u_id}, #{pno}, #{p_price})
    </insert>

    <select id="getRefundProduct" resultType="com.ezen.joinus.vo.RefundVO" >
        select * from refund_table
        where pno = #{pno}
    </select>
</mapper>