.main {
    width: 150px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 50px;
}

.logo {
    /*margin-top: 0px;*/
    /*margin-bottom: 40px;*/
    font-size:25px;
    font-weight: 900;
    color:#333;
    letter-spacing:-1px;
}

#login {
    width: 100%;
    background-color: #ff731b;
    border-color: transparent;
    color: white;
}
#login1 {
    width: 100%;
    background-color: #ff731b;
    border-color: transparent;
    color: white;
}

.account {
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.account1 {
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: none;
    border-radius: 3px;
}

#alert {
    border-color: transparent;
}