<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
             xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <beans:bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <beans:property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy" />
        <beans:property name="jdbcUrl" value="jdbc:log4jdbc:oracle:thin:@localhost:1521:XE" />


        <beans:property name="username" value="spring_project"></beans:property>
        <beans:property name="password" value="1234"></beans:property>

    </beans:bean>
    <beans:bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <beans:constructor-arg ref="hikariConfig"></beans:constructor-arg>
    </beans:bean>


    <beans:bean id="sessionFactory"
                class="org.mybatis.spring.SqlSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource"/>
       <beans:property name="mapperLocations"
                        value="classpath:mappers/**/*.xml"/>
<!--        <beans:property name="configLocation"-->
<!--                        value="classpath:Configuration.xml"/>-->
    </beans:bean>

    <beans:bean class="org.mybatis.spring.SqlSessionTemplate">
        <beans:constructor-arg name="sqlSessionFactory"
                               ref="sessionFactory"/>
    </beans:bean>
  <mybatis-spring:scan base-package="com.ezen.joinus.mappers"/>
    <context:component-scan base-package="com.ezen.joinus" />

</beans:beans>